@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
}

#page-1 .text,
#page-1-clone .text {
  background-color: #3f51b5;
}
#page-2 .text {
  background-color: #673ab7;
}
#page-3 .text {
  background-color: #9c27b0;
}
#page-4 .text {
  background-color: #e91e63;
}
#page-5 .text {
  background-color: #f44336;
}
#page-6 .text,
#page-6-clone .text {
  background-color: #4caf50;
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
